# Executables
check-pcg8i
check-pcg8si
check-pcg16i
check-pcg16si
check-pcg32
check-pcg32-global
check-pcg32f
check-pcg32i
check-pcg32s
check-pcg32si
check-pcg32u
check-pcg64
check-pcg64-global
check-pcg64f
check-pcg64i
check-pcg64s
check-pcg64si
check-pcg64u
check-pcg128i
check-pcg128si
