# Executables
check-mcg-128-rxs-m-64
check-mcg-128-xsh-rr-64
check-mcg-128-xsh-rs-64
check-mcg-128-xsl-rr-64
check-mcg-16-rxs-m-8
check-mcg-16-xsh-rr-8
check-mcg-16-xsh-rs-8
check-mcg-32-rxs-m-16
check-mcg-32-xsh-rr-16
check-mcg-32-xsh-rs-16
check-mcg-64-rxs-m-32
check-mcg-64-xsh-rr-32
check-mcg-64-xsh-rs-32
check-mcg-64-xsl-rr-32
check-oneseq-128-rxs-m-64
check-oneseq-128-rxs-m-xs-128
check-oneseq-128-xsh-rr-64
check-oneseq-128-xsh-rs-64
check-oneseq-128-xsl-rr-64
check-oneseq-128-xsl-rr-rr-128
check-oneseq-16-rxs-m-8
check-oneseq-16-rxs-m-xs-16
check-oneseq-16-xsh-rr-8
check-oneseq-16-xsh-rs-8
check-oneseq-32-rxs-m-16
check-oneseq-32-rxs-m-xs-32
check-oneseq-32-xsh-rr-16
check-oneseq-32-xsh-rs-16
check-oneseq-64-rxs-m-32
check-oneseq-64-rxs-m-xs-64
check-oneseq-64-xsh-rr-32
check-oneseq-64-xsh-rs-32
check-oneseq-64-xsl-rr-32
check-oneseq-64-xsl-rr-rr-64
check-oneseq-8-rxs-m-xs-8
check-setseq-128-rxs-m-64
check-setseq-128-rxs-m-xs-128
check-setseq-128-xsh-rr-64
check-setseq-128-xsh-rs-64
check-setseq-128-xsl-rr-64
check-setseq-128-xsl-rr-rr-128
check-setseq-16-rxs-m-8
check-setseq-16-rxs-m-xs-16
check-setseq-16-xsh-rr-8
check-setseq-16-xsh-rs-8
check-setseq-32-rxs-m-16
check-setseq-32-rxs-m-xs-32
check-setseq-32-xsh-rr-16
check-setseq-32-xsh-rs-16
check-setseq-64-rxs-m-32
check-setseq-64-rxs-m-xs-64
check-setseq-64-xsh-rr-32
check-setseq-64-xsh-rs-32
check-setseq-64-xsl-rr-32
check-setseq-64-xsl-rr-rr-64
check-setseq-8-rxs-m-xs-8
check-unique-128-rxs-m-64
check-unique-128-rxs-m-xs-128
check-unique-128-xsh-rr-64
check-unique-128-xsh-rs-64
check-unique-128-xsl-rr-64
check-unique-128-xsl-rr-rr-128
check-unique-16-rxs-m-8
check-unique-16-rxs-m-xs-16
check-unique-16-xsh-rr-8
check-unique-16-xsh-rs-8
check-unique-32-rxs-m-16
check-unique-32-rxs-m-xs-32
check-unique-32-xsh-rr-16
check-unique-32-xsh-rs-16
check-unique-64-rxs-m-32
check-unique-64-rxs-m-xs-64
check-unique-64-xsh-rr-32
check-unique-64-xsh-rs-32
check-unique-64-xsl-rr-32
check-unique-64-xsl-rr-rr-64

